[Interface]
PrivateKey = {{ lookup('file', '/etc/wireguard/clients/' + item + '_privatekey') }}
DNS = {{ wireguard_client_dns }}
Address = {{ wireguard_client_address }}/24

[Peer]
PublicKey = {{ lookup('file', '/etc/wireguard/publickey') }}
Endpoint = {{ wireguard_server_endpoint }}:{{ wireguard_server_port }}
AllowedIPs = 0.0.0.0/0
PersistentKeepalive = 25
